﻿<div>
    <h1>Custom API</h1>
    <br/>
    
    <h2>API Endpoints</h2>
    <ul>
        <li>
            <h3>/api/user</h3>
            <ul>
                <li>Get</li>
                <li>Post</li>
            </ul>
        </li>
    </ul>
</div>